
<div class="container">
    <h1>CryptoBalance</h1>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Exchange</th>
            <th scope="col">Balance BTC</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($exchanges as $key => $exchange): ?>
            <tr>
                <th scope="row"><?= ($key + 1) ?></th>
                <td><a href="<?= $exchange->url ?>" rel="nofollow" target="_blank"><?= $exchange->name ?></a></td>
                <td><?= $exchange->balance ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <p>Total BTC: <?= $totalBtc ?></p>

    <hr>
</div>